* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #1e1e1e;
  color: #fff;
}

a {
  color: #fff !important;
  text-decoration: none;
}

.submit {
  margin-left: 40px;
  color: #fff;
  font-size: 13px;
  letter-spacing: 2px;
  background-color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

div {
  display: grid;
  place-items: center;
}

hr {
  border-left: none;
}

.but {
  font-size: 13px;
  letter-spacing: 2px;
  background-color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
