* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background: #1e1e1e;
	color: #fff;
}

.my_img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

a {
	color: #fff;
	text-decoration: none;
}

.submit {
	color: #fff;
	font-size: 13px;
	letter-spacing: 2px;
	background-color: #000;
	border: none;
	border-radius: 5px;
	padding: 10px;
}

.submit:hover{
	background-color: #575a57;
	padding:12px;
}

.table_img {
	display: grid;
	place-items: center;
}

.schools {
	display: grid;
	place-items: center;
}

.skills {
	display: grid;
	place-items: center;
}

.contact_me {
	display: grid;
	place-items: center;
}

.form1 {
	display: grid;
	place-items: center;
}

.but {
	font-size: 13px;
	letter-spacing: 2px;
	background-color: #000;
	border: none;
	border-radius: 5px;
	padding: 10px;
}

.but:hover{
	background-color: #575a57;
	padding:12px;
}

.topnav {
	text-transform: uppercase;
	overflow: hidden;
}

.topnav a {
	float: right !important;
	padding: 14px 16px;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #575a57;
}

hr {
	border-style: dotted none none;
	border-width: 10px;
	width: 70px;
	color: #575a57
}
